.header {
    background-color: #314e70;
    height: 40px;
    line-height: 40px;
    text-align: center;
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
  }
  
  .contenedor {
    background-color: #ffffff;
    padding: 30px; /* Agrega un margen interno de 20px al contenedor */
  }
  
  body {  
    font-family: Arial, sans-serif;
  }
  
  form {
    max-width: 600px;
    margin: 0 auto;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  .form-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  input[type="text"] {
    width: 100%;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }
  
  button[type="button"] {
    padding: 10px 20px;
    margin: 5px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    outline: none;
  }
  
  button[type="button"]:nth-child(1) {
    background-color: #DF4036; /* Verde oscuro para el botón de agregar */
    color: white;
  }
  
  button[type="button"]:nth-child(2) {
    background-color:  #9db2d1; /* Rojo para el botón de eliminar */
    color: white;
  } 
  
  button[type="submit"] {
    background-color: #073564; /* Azul oscuro para el botón de guardar */
    color: white;
    padding: 10px 20px;
    margin: 5px;  
    border: none;
    cursor: pointer;
    font-size: 16px;
    outline: none;
  } 
  